venv/
.env
__pycache__/
*.py[cod]
.ipynb_checkpoints/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
calibracao_threshold.png
calibrate_throshold.py
test_downloader.py
test_parser.py
test_rag.py
